*{
    margin: 0;
    padding: 0;
}

*::selection{
    color: red;
    background-color: black;
}

body{
    overflow-x: hidden;
}

/* IMPORT STATEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* CODE FOR NAVBAR */

nav{
    width: 100vw;
    height: 10vh;
    background: #0f0f0f;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

nav > ul{
    height: 100%;
    width: 100%;
    display: flex;
    background: transparent;
    align-items: center;
    list-style-type: none;
}

nav li{
    margin-left: 2vw;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    transition: color .3s ease-out;  
    font-weight: 900;
}

nav a:hover{
    color: firebrick;
}

.logo{
    height: 5vh;
    width: auto;
    filter: invert();
    transition: transform .3s ease-out;  
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1) rotateZ(-5deg);
}

/* CODE FOR MAIN IMAGE */

.main-img{
    width: 100vw;

}

.main-img img{
    width: 100%;
}

/* CODE FOR MAIN TITLE */

.main-title h1{
    padding: 5vh 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: firebrick;
    font-size: 5vw;
}

/* CODE FOR ABOUT US SECTION */

.about-us{
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 5vh 0;
}

.about-us h1{
    background-color: firebrick;
    padding: 2vh 2vw;
    font-family: 'Rajdhani' , sans-serif;
    font-size: 3vw;
    color: white;
}

.about-us p{
    padding: 2vh 2vw;
    font-family: 'Raleway' , sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

/* CODE FOR SNEAKERS CARDS */

.sneakers-card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 0 2vw;
    padding: 4vh 2vw;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 2vh 1vw;
}

.cards img{
    width: 100%;
    transform: rotateY(180deg);
    transition: all .3s ease-out;
    margin-bottom: 2vh;
}

.cards img:hover{
    transform: rotateY(180deg) rotateZ(15deg) scale(0.9);
}

.cards h4{
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 3vw;
    font-family: 'Raleway' , sans-serif;
}

.cards p{
    font-family: 'Rajdhani' , sans-serif;
    margin: 2vh 0;
    font-size: 2vw;
}

.cards button{
    border: none;
    padding: 2vh 2vw;
    font-family: 'Raleway' , cursive;
    font-weight: 900;
    margin-top: auto;
    align-self: center;
    background: linear-gradient(to bottom right , firebrick 50% , red);
    color: white;
    border-radius: 1vh 1vw;
    transition: all .3s ease-out;
    cursor: pointer;
}

.cards button:hover{
    border-radius: 0;
    box-shadow: 3px 3px 0 black;
}

.many-more-heading{
    padding: 0 0 8vh 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: firebrick;
    font-size: 3vw;
}

/* CODE FOR SERVICES SECTION */

.services-section{
    display: flex;
    justify-content: center;
}

.services{
    margin: 0 5vw;
    display: grid;
    place-items: center;
    gap: 2vh 0;
}

.services img{
    width: 10vw;
    transition: all .3s ease-out;
}

.services img:hover{
    transform: scale(1.1);
}

.services p{
    font-family: 'Raleway' , cursive;
    font-weight: 900;
}

/* CODE FOR SUBSCRIBE SECTION */

.subscribe-heading{
    padding: 6vh 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: firebrick;
    font-size: 3vw;
}

.subscribe-section{
    display: flex;
    justify-content: center;
    padding: 0 0 5vh 0;
}

.subscribe{
    border: 1px solid;
    overflow: hidden;
}

#email{
    border: none;
    width: 30vw;
    padding: 2vh 1vw;
    font-family: 'Rajdhani' , sans-serif;
}

#email:focus{
    outline: none;
}

.subscribe button{
    height: 100%;
    border: none;
    padding: 2vh 2vw;
    font-family: 'Raleway' , cursive;
    font-weight: 900;
    background: linear-gradient(to bottom right , red 20% , firebrick);
    color: white;
    transition: all .3s ease-out;
    cursor: pointer;
}

.subscribe button:hover{
    color: black;
}

/* CODE FOR JOIN SECTION */

.join h1{
    padding: 3vh 3vw;
    font-size: 3vw;
    font-family: 'Rajdhani' , sans-serif;
}

.join p{
    padding: 0vh 3vw 3vh 3vw;
    font-family: 'Raleway' , sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

/* CODE FOR FOOTER */

footer{
    background: linear-gradient(to bottom right , firebrick 30% , red);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

footer > div{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.other-links a{
    position: relative;
    padding: 1vh 1vw;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all .3s ease-out;
}

.other-links a:hover{
    box-shadow: 2px 2px 0 black inset , -2px -2px 0 black inset;
    font-weight: 900;
}

.social-links img{
    border-radius: 50vw;
    width: 5vw;
    cursor: pointer;
    filter:  grayscale();
    transition: all 0.3s ease-out;
} 

.social-links img:hover{
    filter: none;
}

#copyright{
    font-family: 'Rajdhani' , sans-serif;
}

@media screen and (max-width:650px) {
    nav li{
        margin-left: 4vw;
    }
    .logo{
        height: 3vh;
    }
    .main-img{
        height: 50vh;
    }
    .main-img img{
        height: 100%;
    }
    .main-title h1{
        padding: 2vh 3vw;
        font-size: 8vw;
    }
    .about-us{
        margin: 2vh 0;
        flex-direction: column;
    }
    .about-us h1{
        font-size: 5vw;
    }
    .about-us p{
        font-size: 3.5vw;
    }
    .sneakers-card{
        grid-template-columns: repeat(1,1fr);
        gap: 2vh 2vw;
    }
    .cards h4{
        font-size: 5vw;
    }
    .cards p{
        font-size: 3.5vw;
    }
    .cards button{
        padding: 2vh 5vw;
    }
    .many-more-heading{
        font-size: 5vw;
    }
    .services img{
        width: 20vw;
    }
    .services p{
        font-size: 3.5vw;
    }
    .subscribe-section{
        padding: 0 0 2vh 0;
    }
    .subscribe-heading{
        font-size: 5vw;
    }
    #email{
        width: 50vw;
        padding: 1vh 2vw;
    }
    .subscribe button{
        padding: 2vh 4vw;
    }
    .join h1{
        font-size: 5vw;
    }
    .join p{
        font-size: 3.5vw;
    }
    footer > div{
        width: 75vw;
    }
    
    .social-links img{
        width: 10vw;
    }
}