*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* IMPORT STATEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

/* CODE FOR NAVBAR */

nav{
    width: 100vw;
    height: 10vh;
    background: #0f0f0f;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

nav > ul{
    height: 100%;
    width: 100%;
    display: flex;
    background: transparent;
    align-items: center;
    list-style-type: none;
}

nav li{
    margin-left: 2vw;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    transition: color .3s ease-out;  
    font-weight: 900;
}

nav a:hover{
    color: firebrick;
}

.logo, .cart{
    height: 5vh;
    width: auto;
    filter: invert();
    transition: transform .3s ease-out;  
    cursor: pointer;
}

.logo:hover , .cart:hover{
    transform: scale(1.1) rotateZ(-5deg);
}

/* CODE FOR MAIN IMAGE */

.main-img{
    width: 100vw;

}

.main-img img{
    width: 100%;
}

/* CODE FOR MAIN TITLE */

.main-title h1{
    padding: 5vh 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: firebrick;
    font-size: 5vw;
}

/* CODE FOR SNEAKERS CARDS */

.sneakers-card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 0 2vw;
    padding: 4vh 2vw;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 2vh 1vw;
}

.cards img{
    width: 100%;
    transform: rotateY(180deg);
    transition: all .3s ease-out;
    margin-bottom: 2vh;
}

.cards img:hover{
    transform: rotateY(180deg) rotateZ(15deg) scale(0.9);
}

.cards h4{
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 3vw;
    font-family: 'Raleway' , sans-serif;
}

.cards p{
    font-family: 'Rajdhani' , sans-serif;
    margin: 2vh 0;
}

.cards button{
    border: none;
    padding: 2vh 2vw;
    font-family: 'Raleway' , cursive;
    font-weight: 900;
    margin-top: auto;
    align-self: center;
    background: linear-gradient(to bottom right , firebrick 50% , red);
    color: white;
    border-radius: 1vh 1vw;
    transition: all .3s ease-out;
    cursor: pointer;
}

.cards button:hover{
    border-radius: 0;
    box-shadow: 3px 3px 0 black;
}

.many-more-heading{
    padding: 0 0 8vh 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: firebrick;
    font-size: 3vw;
}

/* CODE FOR SERVICES SECTION */

.services-section{
    display: flex;
    justify-content: center;
}

.services{
    margin: 0 5vw;
    display: grid;
    place-items: center;
    gap: 2vh 0;
}

.services img{
    width: 10vw;
    transition: all .3s ease-out;
}

.services img:hover{
    transform: scale(1.1);
}

.services p{
    font-family: 'Raleway' , cursive;
    font-weight: 900;
}